<a href="https://colab.research.google.com/github/HannanSheikh/MultiLinearRegression_Algorithm/blob/master/MultiLinearReg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [ ]:
#df = pd.read_csv('/content/drive/My Drive/MultipleLineraRegression/MultiLinearReg.csv')

In [ ]:
df = pd.DataFrame([[1,8,25000], [3,4,17000],[4,6,42000],[5,9,50000],[7,5,45000],[8,7,82000],[10,2,81000],[11,6,90000],[12,9,140000],[15,6,130000]], columns = ["Experience", "Test","Salary"])

In [ ]:
df

   Experience  Test  Salary
0           1     8   25000
1           3     4   17000
2           4     6   42000
3           5     9   50000
4           7     5   45000
5           8     7   82000
6          10     2   81000
7          11     6   90000
8          12     9  140000
9          15     6  130000

In [ ]:
df.dtypes

Experience    int64
Test          int64
Salary        int64
dtype: object

In [ ]:
xtrain,xtest,ytrain,ytest=train_test_split(df[['Experience','Test']],df['Salary'],test_size=2)

In [ ]:
reg = LinearRegression()

In [ ]:
reg.fit(xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
xtest

   Experience  Test
1           3     4
3           5     9

In [ ]:
ytest

1    17000
3    50000
Name: Salary, dtype: int64

In [ ]:
reg.predict(xtest)

array([17889.61341407, 65924.13833256])

In [ ]:
reg.score(xtest,ytest)

0.532838211825713